# Stuff
Vorarbeit_Florian/
Bericht/PaxHeaders.13848/
embedded_systems.pdf

# Python
*__pycache__/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind

# Build tool auxiliary files:
*.synctex.gz
*.fdb_latexmk

# see https://github.com/github/gitignore/blob/main/TeX.gitignore